<div style="margin: 2px; border: 1px dotted silver; float: left;" class="keyword" id="kwl_<%= filter_kw_for_list_item.id -%>"> <%= filter_kw_for_list_item.display_name -%> </div>
<%= draggable_element("kwl_#{filter_kw_for_list_item.id}", :revert => true) -%>

