<%= form_remote_tag  :loading => "Element.show('otu_spinner')", :complete => "Element.hide('otu_spinner')", :url => {:controller => :morphbank_image, :action => :_set_otu_for_mb_cart} do -%>
  <div class="fr"> <label for="keywords" class="lbl4">Attach images to OTU:</label>
    <span class="fld">
      <%= render :partial => 'shared/picker', :locals => {
        :controller => 'otu',
        :object => 'otu',
        :method => 'id',
        :tag_id => "otu_name_for_mb_cart",
        :display => "",
        :size => 40} -%>  <%= submit_tag "open" %>  <%= spinner_tag('otu_spinner') -%> </span>
  </div>
  <br style="clear: both;" />
<% end -%>

<div id="otu_cart">
  <!-- gets rendered on choosing OTU -->
</div>
