<!-- a wrapper for a group of descriptions in contents = [] -->
<div class="text_page">
  <%= content_tag(:em, 'Select a content template that defines your descriptions.') if contents.size == 0 -%>
  <!-- contents is an Array of ContentTemplate#content_by_otu -->
  <% otus.each do |otu| -%>
    <!-- might have to set @otu = otu here -->
    <% @otu = otu -%>
    <%= render(:partial => 'text/description', :locals => {:content => contents[otu]} ) -%>
  <% end -%>
  <br style="clear:both;" />
</div>
