
<div>

  <div style="float:left;background-color:red;">
    Matrix selector 
  </div>

  <div style="float:left;background-color:orange;">
    Coding window
  </div>

  <br style="clear:both;" />
</div>

