<% if obj.tags.length > 0 -%>
  <div class="show_category"> Tags </div>
  <div>
    <% obj.tags.each do |t| -%>
      <%= render(:partial => '/tags/ts', :locals => {:ts => t}) -%>
    <% end -%>
  </div>
<% end -%>
