<% content_for :center do -%>
  <div class="show_category"> Unused states </div>
  <% @unused_chr_states.each do |cs| -%>
    <div class="show_row"><span class="show_lbl"><%= cs.chr.display_name -%>:</span><span class="show_data"><%= cs.display_name -%> </span><%= link_to('go', {:action => :show, :controller => :chrs, :id => cs.chr.id}, :target => '_blank') -%></div>
    <%= @unused_chr_states.length == 0 ? content_tag(:em, 'none') : '' -%> 
  <% end %>
<% end -%>
