<!-- field properties here are made up until I know where species name is going to be saved.  
may need to create a new taxon entry -->
<div class="nfr"> <label for="trait_enter_species_name" class="lbl4">Name of species used in the paper:</label><br>
  <span class="nfld"><%= text_field "taxon_name", "name", 'title' => 'species name used in paper', :size => 80 %></span>
</div>