<!-- field properties here are made up until I know where population name is going to be saved.   
may need to create a new collecting event or check out new schema -->
<div class="nfr"> <label for="trait_enter_population_name" class="lbl4">Name of population:</label><br>
  <span class="nfld"><%= text_field "ce", "locality", 'title' => 'population name', :size => 80 %></span>
</div>