<div class="nfr"> 
	<label for="trait_enter_study_data" class="lbl4">Study location:</label><br>
  	<span class="nfld"><%= text_field "ce", "geography", 'title' => 'study location', :size => 80 %></span><br><br>
	<label for="trait_enter_study_data" class="lbl4">Year study started (YYYY):</label>
  	<span class="nfldshort"><%= text_field "ce", "sd_y", 'title' => 'study start year', :size => 10 %></span><br><br>
  	<label for="trait_enter_study_data" class="lbl4">Year study ended (YYYY):</label>
  	<span class="nfldshort"><%= text_field "ce", "ed_y", 'title' => 'study end year', :size => 10 %></span>
</div>