<div class="nfr listing">
  <h4>Otus for this Reference</h4>
  <table class='ntable' id="trait_otus_for_ref">
    <% otus.each do |otu|  %>
      <tr>
        <td class='ntable'><%= otu.name -%></td>
      </tr>
    <% end %>

    <% if otus.size == 0 -%>
      <tr>
        <td> <em> None yet recorded or reference not selected. </em> </td>
      </tr>
    <% end %>
 </table>
</div>
