<div id="trait_newRef" class="popupform" style='width: 420px;'>
  <div>
    <a class='basic-modal-close' href='#'>X</a>
    <span style="float: left;">Enter new ref: </span>
  </div>
  <br style="clear: both;" />
<%= render 'form_new_ref' %>
</div>
