<div class="popupform" style='width: 420px;'>
  <a style='float: right' class='basic-modal-close' href='#'>X</a>
  <h1> What to do here? </h1>
  <div>
    TODO
    <%= debug(@chr) -%>
  </div>
</div>
