<div id="some figures" class="box4" style=" clear: right;">
  <%= render_figs_for_obj(@cs, 'thumb') %>
  <%= link_to('hide', :remote => true, :url => {:action => :_close_popup_figs, :id => @cs} ) %>
</div>
