<% for column in AssociationSupport.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @association_support.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @association_support, :association_id => @association %> |
<%= link_to 'Back', :action => 'list' %>
