<div class="subform" style="width: 340px; font-size: 87%;"><h4 style="display: inline;">Add new support:</h4>
  <%= link_to "reference", :controller => "association_support", :action => "new_ref", :association_id => a -%> | 
  <%= link_to "lot (vouchers)", :controller => "association_support", :action => "new_voucher", :association_id => a -%> |
  <%= link_to "specimen", :controller => "association_support", :action => "new_specimen", :association_id => a -%> 
</div>
