<h3> OTUs with content </h3>
<p><strong style="color: silver;">Legend:</strong> <span class="passed"> some/all content published </span> &nbsp; <span class="failed"> there are multiple children (marked with "-") tied to this name </span></p>
<%= render(:partial => 'content_table', :locals => {:publish_link => true}) -%>
