<h3>New OTU</h3>
<%= form_tag(:action => 'create') do -%>
<input type="submit" name="submit" value="create" />

  <%= render(:partial => 'form') -%> 
  
  <br class="cb" />
  <br class="cb" />

  <div class="subform">
    <div class="header"> 
      Add to OTU group </div>
    <div class="fr"> 
      <span class="fld"> <%= select_tag("otu_group_id", "<option value=\"\"></option>".html_safe + options_for_select(@otu_groups.collect {|o| [ o.name, o.id ]})) %></span>
    </div>
    <br class="cb" />
  </div>

  <input type="submit" name="submit" value="create" />
<% end -%>
