<table class="record_list">
  <%= t_col_heads( ["id", "name", "abbreviation", "city", "# refs in proj", "all refs",  "syn with", 'URL', "created by" ] ) %>
  <% @serials.each_with_index do |serial, i| %>
  <%=  t_row({ 'obj' => serial, 'tr_css' => i, 
    'cell_data' => [serial.id,
    serial.name,
    serial.abbreviation,
    serial.city,
    serial.refs(@proj.id).size,
    serial.refs.size,
    serial.synonymous_with_id? ? serial.synonymous_with_id : '' ,
    serial.URL ? link_to('URL', serial.URL) : '',
    serial.c_by] } ) %>
  <% end %>
</table>
