<h3>Listing serials</h3>
<div id='search_results'>
  <%= paginate(@serials, :total_count => @serials.total_count) -%>
  <%= render(:partial => 'record_table') -%>
  <%= paginate(@serials, :total_count => @serials.total_count) -%>
</div>
