<%# label header for character links, with link to show figures if there %>
<div class="no_decision" style="margin: .2em 0; padding: .2em; clear: both;">
  <span style="float: right; background: #FF9933; padding: 0 .2em;"><%= link_to('?', :action => 'show', :controller =>'chrs', :id => ch) -%></span>
  <% if  @mk.figures_by_chr(ch.id.to_i).size > 0 -%>
  <span class="small_grey" style="float:right; margin: 0 .2em;">
    &nbsp;&nbsp;<%= link_to("figures", :remote => true, :loading => "Element.show('multikey_spinner')", :complete => "Element.hide('multikey_spinner')",  :update => 'img', :url => { :action => '_show_figures_for_chr', :id => ch.id }) -%>
  </span>
  <% end -%>  <%= ch.display_name %> 
</div>

