<div style="width: 550;">
  <div class="box5" style="clear: both;">  
    <% @all_states_eliminated = ChrState.find(@mk.chosen_states, :include => :chr) %>
    <% if @size_chrs_elim > 0 -%>
      <% for s in  @all_states_eliminated -%>
        <div style="margin: .1em 0;">
          <span class="no_decision" style="padding: 0 .2em; "><%= s.chr.display_name -%></span>
          : <%= s.name  -%> 
          &nbsp; <span class="small_grey">(<%= link_to("remove", :action => 'remove_state', :id => s.id) %>)</span>
        </div>
      <% end -%>
    <% else -%>
      <i> No character states chosen yet.</i>
    <% end -%>
  </div>
</div>
