<div class='navigator'>
  <%= navigator2(:obj => @ce, :do =>  session['ce_view'], :ord => "id") %>
  <%= show_nav_link(:obj => @ce, :link => 'material')  -%>
 
  <div class="category">reports</div>
  <%= link_to("Clone", {:action => :clone, :id => @ce.id}, :confirm => "Clone this CE?  You will be taken to the new clone.") -%>
  <%= fig_link(@ce) -%>

</div>
