<% content_for :center do -%>
<p><em> This is a list of tags that have used this reference, and tags that are on this reference. The <span class="failed">X</span> will delete the given tag.</em> </p>

<div class="box4">
  <div class="header"> Referenced through tags</div>
  <div>
    <% @ref_tagged_through.each do |t, tags| %>
    <div>
      <div><strong>on objects of type <%= t %></strong></div>
      <%= tags.collect{|tg| render(:partial => 'tag/ts', :object => tg)} -%>
    </div> 
    <% end %>
  </div>
  <br style="clear:both;" />
</div>

<div class="box4">
  <div class="header">Tags on this reference</div>
  <div>
    <% @ref_tags.each do |keyword, tags| %>
    <div><strong>with keyword <%= keyword.display_name %></strong></div>
    <%= tags.collect{|tg| render(:partial => 'tag/ts', :object => tg)} -%>
    <% end %>
    <br style="clear:both;" />
  </div>
</div>

<% end -%>
