<% content_for :head do -%>
  <%= javascript_include_tag("accordion") -%>
<% end %>

<% content_for :center do -%>
  <div style="padding: .2em; display: inline;"> add a new <%= tag_link_for_show(@taxon_name) -%> </div>
  <br /> <br />
  <div class="box4" id="tag_cloud">
    <div class="header">tag cloud (click to show all tags from the given keyword) </div>
    <%= tag_cloud_for(@taxon_name) -%>
  </div>

  <%= render(:partial => 'tag/tags_by_keyword')  -%>
<% end -%>




