<div id="taxon_name_nav">
  <h3>Families</h3>
 
  <% @families.each do |f| -%>
  <div class="item">
   <%= link_to h(f.name), :controller => 'taxon_name', :action => 'search_browse', :family => h(f.name) -%> (<%=h f.count%>)  <br />
   </div>
   <% end %>

</div>
