<div class="subform">
  <div class="header">Show images for: </div>
  <% form_tag :action => 'summarize' do -%>    
  <p> Otu group: <%= render :partial => "otu_group/picker", :locals => {:c_name => 'view', :f_name => 'otu_group_id'} -%> </p>

  <p> Standard view group:  
  <%= render :partial => 'shared/picker', :locals => {
    :controller => 'standard_view_group',
    :object => 'view',
		:method => 'standard_view_group_id',
    :tag_id => "standard_view_to_find",
    :display => ""} -%>
  </p>

  <p> Otus with Uploaded images only? <i>does nothing at present</i> <%= check_box('view', 'data_only') -%></p>

  <%= submit_tag "View" -%>
  <% end -%>
</div>
