<%= render(:partial => 'shared/page_nav_scope', :locals => {:pages => @image_description_pages}) -%>
<%= render(:partial => 'shared/page_nav', :locals => {:pages => @image_description_pages}) -%>
<div>
  <%= render :partial => 'image_description/id', :collection => @descriptions, :locals => {:dragmode => false} -%>
  <p style="clear: left">&nbsp;</p>
</div>
<br />
<%= render(:partial => 'shared/page_nav', :locals => {:pages => @image_description_pages}) -%>
