<% unless @taxon_names.nil? or @taxon_names.empty? %>

  <span class="failed"> ADMIN: Fix pagination.</span>

  <p> <%= @head_text ? content_tag(:div, @head_text, :class=> 'lbl2') : "" %> </p>
   
  <% for taxon_name in @taxon_names %>
    <%= link_to taxon_name.display_name, :action => 'show', :id => taxon_name.id %> 
    <%= taxon_name.author.html_safe %> <%= taxon_name.year.html_safe %><br/>
  <% end %>

  <span class="failed"> ADMIN: Fix pagination.</span>

<% else %>
  <div class="little-grey-text">No matching specimens</div>
<% end %>




  

