<div id="nav">Help with searching</div>
<ul>
  <li>Capitalization does not matter: '<strong>tOwNs</strong>' will find the same results as '<strong>Townes</strong>'. </li>
  <li>Search terms for genus, species and author match the beginning of words: '<strong>tra</strong>' will match '<em><strong>Tra</strong>thala</em>' but not '<em>Te<strong>tra</strong>mbon</em>'.</li>
  <li>The box labeled 'other' searches the collecting data. Search terms here match any part of a word: '<strong>ow</strong>' will match 'T<strong>ow</strong>nes' and '<strong>Ow</strong>en'. </li>
  <li>A search with all empty fields will return all the records in the database.</li>
</ul>

<p>Please note that the search function requires javascript and a relatively modern browser. If the search function is not working, you should enable javascript and/or upgrade your browser.</p>