<div class='navigator'>  
  <%= navigator2(:obj => @data_source, :do => params['action']) %>
  <% if @data_source.dataset -%>
    <%= show_nav_link(:obj => @data_source, :link => 'file contents')  -%>
  <% end %>

  <br />
	<div style="text-align: center;"><h4>functions</h4></div>

  <% if @data_source.dataset -%>
    <%= show_nav_link(:obj => @data_source, :link => 'convert')  -%>
  <% else %>
    <i> You must attach a file before you can convert this data source. </i>
  <% end %>
</div>
