<h3>Listing data sources</h3>
<p> <i> Now in beta, please test. </i> </p>
<div id='search_results'>
  <%= paginate(@data_sources, :total_count => @data_sources.total_count) -%>
  <%= render(:partial => 'record_table') -%>
  <%= paginate(@data_sources, :total_count => @data_sources.total_count) -%>
</div>

