<%= error_messages_for 'image_view' %>

<!--[form:image_view]-->
   
<div class="fr"> <label for="image_view_name" class="lbl4">Name</label>
  <span class="fld"><%= text_field "image_view", "name", 'title' => 'name for the view' %></span>
</div>

<!--[eoform:image_view]-->

