<div style="float: left; padding: .2em;">
  <%= content_tag(:em, 'No literal, case-insensitive match found.') if refs.size == 0 -%>

  <% refs.each do |r| -%>

    <div style="border-bottom: 1px dotted silver;">
      <%= r.display_name(:type => :authors_year) -%>     
    </div>

    <div style="margin-left: 2em; padding: .2em;"> 
      <%= context_for_label(r, label_name) -%> 
    </div>

  <% end -%>
</div>
