<!-- makes use of seq_helper.rb to compute table values -->
<table>
  <tr><td><b>OTU / Gene</b></td><% @genes.each do |gene| %><td><b><%= gene.name %></b></td><% end %></tr>
  <% @otus.each do |otu| %>
    <tr>
      <td> <%= link_to( otu.display_name, {:controller => "seq", :action => "show_seqs_for_otu", :otu_id => otu.id}) %> <span style="color:gray;"> (id: <%= otu.id %>) </span> </td> 
      <% @genes.each do |gene| %>
         <%= seq_cell_status(otu, gene) %>
      <% end %>
    </tr>
  <% end %>
</table>
