<!-- char state choices -->
<% @chr.chr_states.each do |s| -%>
  <% coded = s.coded?(@otu.id) %>
  <tr>
    <td>
      <% if coded %>
        <input type='submit' value="&#10008;" >
      <% else %>
        <input type='submit' value="&#10004;">
      <% end %>
    </td>
    <td>
      <input type="checkbox" value="<%= s.id -%>" <%= "checked" if coded -%>>
      <%= s.s_and_m -%>
      <b>MORE | TAG</b>
    </td>
  </tr>
<% end %>
