<table class="record_list">
  <%= t_col_heads( ["name", "id", 'otus', 'chrs', "multikey", "public", "notes", "mod by", "mod on"] ) %>
  <% for m in @mxes %>
  <%=  t_row({ 'obj' => m, 
    'cell_data' => [link_to(m.name, :action => :show, :id => m.id),
    m.id,
    m.otus.count,
    m.chrs.count,
    m.is_multikey == true ? {"yes" => 'passed'} : {"no" => 'failed'},
    m.is_public == true ? {"yes" => 'passed'} : {"no" => 'failed'},
    m.notes,
    m.m_by,
    m.m_on ] } ) -%>
    <% end %>
</table>
