<%= error_messages_for 'specimen_identifier' %>

<!--[form:specimen_identifier]-->
<div class="fr"><label for="specimen_identifier_identifier" class="lbl4">Identifier</label>
  <span class="fld"> <%= text_field 'specimen_identifier', 'identifier'  %></span></div>

<p><label for="specimen_identifier_identifier_source">Identifier source</label><br/>
<%= text_field 'specimen_identifier', 'identifier_source'  %></p>

<p><label for="specimen_identifier_created_by">Created by</label><br/>
<%= text_field 'specimen_identifier', 'created_by'  %></p>
<!--[eoform:specimen_identifier]-->


