<table class="list_table" style="width: 100%;">
  <%= t_col_heads( [ "identifiers", "most recent det",  "collecting event", "sex",   "dna ok",  "rep.", "maps?", "mx id", "mod by", "mod age" ] ) %>
  <% @specimens.each_with_index do |o, i| -%>
  <%=  t_row({ 'obj' => o, 'inc_actions' => @inc_actions, 'tr_css' => i,
  'cell_data' => [
    o.display_name(:type => :identifiers),
    (o.most_recent_determination ? o.most_recent_determination.display_name : content_tag(:i, 'no dets', :class => 'failed')),
    o.ce.andand.display_name(:type => :verbose),
    o.sex,
    o.dna_usable == true ? "yes" : {"no" => 'failed'},
    o.repository.andand.coden,
    o.mappable  == true ?  {"yes" => 'passed'} : {"no" => 'failed'},
    o.id,
    o.m_by,
    time_ago_in_words(o.updated_on),
    link_to('Image', :action => 'new', :controller => 'images', :otu_id => ((o.most_recent_determination && o.most_recent_determination.otu) ? o.most_recent_determination.otu : ''), :specimen_id => o)]} ) %>
  <% end %>
</table>
