<h3>Listing lot groups</h3>
<div id='search_results'>
  <%= paginate(@lot_groups, :total_count => @lot_groups.total_count) -%>
  <%= render(:partial => 'record_table') -%>
  <%= paginate(@lot_groups, :total_count => @lot_groups.total_count) -%>
</div>

