<%= link_to('back', :action => :index) -%>

<div class="show_category">Variables</div>
<div class="show_row"><span class="show_lbl">@server_name</span><span class="show_data"><%= @server_name -%></span></div>
<div class="show_row"><span class="show_lbl">HOME_SERVER</span><span class="show_data"><%= HOME_SERVER -%></span></div>
<div class="show_row"><span class="show_lbl">self.request.server_name</span><span class="show_data"><%= self.request.server_name -%></span></div>

