<% form_tag :action => 'reset_password' do -%>
  <p>User <%= select_tag "person_id", options_from_collection_for_select(@people, "id", "name") %>
    new password <%= password_field_tag "new_password" %>
  </p>
  <p>
    <strong>your</strong> password <%= password_field_tag "admin_password" %>
    <%= submit_tag "Reset" %>
  </p>
<% end -%>
