<%= error_messages_for 'taxon_name_status' %>

<!--[form:taxon_name_status]-->
<p><label for="taxon_name_status_status">Status</label><br/>
<%= text_field 'taxon_name_status', 'status'  %></p>

<p><label for="taxon_name_status_updated_on">Updated on</label><br/>
</p>

<p><label for="taxon_name_status_created_on">Created on</label><br/>
</p>
<!--[eoform:taxon_name_status]-->

