<% for column in TaxonNameStatus.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @taxon_name_status.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @taxon_name_status %> |
<%= link_to 'Back', :action => 'list' %>
