<h3>Listing figures</h3>
<div id='search_results'>
  <%= paginate(@figures, :total_count => @figures.total_count) -%>
  <%= render(:partial => 'record_table') -%>
  <%= paginate(@figures, :total_count => @figures.total_count) -%>
</div>

<%= render_svged_figures -%><!-- collectively renders appended figures on non-ajax calls -->
