<table class="record_list">
  <%= t_col_heads( ["mx id", "specimen id", "material voucher#", "OTU", "locality", "quality", "extract notes", "other id",  "extracted on", "mod on", "mod by" ] ) %>
  <% @extracts.each_with_index do |o, i| -%>
  <%=  t_row({ 'obj' => o, 'tr_css' => ( o.quality == 'failed') ? "Failed" : "", 'tr_css' => i,
    'cell_data' =>[
    o.id,
    o.specimen_id,
    o.display_source_identifiers.html_safe,
    o.display_source_determinations.html_safe,
    o.display_source_ce.html_safe,
    o.quality,  
    {o.notes => 'smaller_font'},
    o.other_extract_identifier,
    o.extracted_on, 
    o.m_on,
    o.m_by]}) %>
  <% end %>
</table>
