<h3>Listing extracts</h3>
<div id='search_results'>
  <%= paginate(@extracts, :total_count => @extracts.total_count) -%>
  <%= render(:partial => 'record_table') -%>
  <%= paginate(@extracts, :total_count => @extracts.total_count) -%>
</div>

