<h3>Editing extract</h3>

<div class="subform">
  <div class="header"> Tag a range of extracts </div>
  <div class="content">
    <%= form_tag :action => 'tag_by_range' do -%>

      <div class="fr"> <label for="extract_keyword_id" class="lbl4">Extracts tagged with</label>
        <span class="fld"><%= render :partial => 'shared/picker', :locals => {
            :controller => 'keywords',
            :object => 'tag_many',
            :method => 'keyword_id',
            :tag_id => "keyword_id_to_find_for_extract_tag_by_range",
            :size => 40} -%> </span>
      </div>

      <div class="fr"><label for="extract_range" class="lbl4">Extracts in id range</label>
        <span class="fld"><%= text_field_tag 'tag_many[extract_range]',  1, :size => 20 -%> <em> like "1-23, 43, 99-100, 55", returns only valid (existing) matches </em></span>
      </div>

      <%= submit_tag "Tag" %>
    <% end -%>

  </div>
</div>



