<%= error_messages_for 'gene_group' %>

<!--[form:gene_group]-->
<p><label for="gene_group_name">Name</label><br/>
<%= text_field 'gene_group', 'name', 'title' => 'name of this gene group'  %></p>
<!--[eoform:gene_group]-->

