<h3>Listing gene groups</h3>
<%= paginate(@gene_groups, :total_count => @gene_groups.total_count) %>
<table class="record_list">
  <%= t_col_heads( ["id", "name", "notes", "updated on", "updated by" ] ) %>
  <% for gene_group in @gene_groups %>
  <%=  t_row({ 'obj' => gene_group, 
    'cell_data' => [gene_group.id,
    gene_group.name,
    gene_group.notes,
    gene_group.m_on,
    gene_group.m_by] }) %>
  <% end %>
</table>
<%= paginate(@gene_groups, :total_count => @gene_groups.total_count) %>
