<div class="active_item" style="background-color:#<%= ColorHelper::palette(:palette => :heat_10, :index => active_item.active_index, :hex => true)[2..7] -%>;" >
  <%= brief_activity_report(active_item) -%> 
</div>
