<div class="subform"> 
  <div class="header"> Set keyword for tag links </div>
  <div class="content">
    <%= render :partial => 'ontology/simple_with_tags_keyword_form' -%>
      <br style="clear: both;" />
  </div>


</div>

<p style="color:silver;"> Labels already tagged with given keyword are greyed out. </p>

<div id="results">

</div>

