<div id="fbin_<%= "#{@obj.class.to_s}_#{@obj.id}" -%>" class="<%= @klass -%>">
  <%= render(:partial => "figure/figure",
             :collection => @figures, 
             :locals => {:size => @size,
             :mb_annotation => @mb_annotation}) -%>
  <div class="p_below_fig" style="clear: both;">&nbsp;</div>
</div>

<script type="text/javascript">
 appendFigsToSvgonload();
</script>
