<%= content_tag :li, "<span style='color: silver;'>List</span>" -%>
<%= content_tag :li, link_to('find many', :action => 'find_many') -%>
<%= content_tag :li, "<span style='color: silver;'>Batch options</span>" -%>
<%= content_tag :li, link_to('match', :action => :match) -%>
