<!--[form:otu_group]-->

<div class="fr"> <label for="otu_group_name" class="lbl4">Name</label>
  <span class="fld"><%= text_field 'otu_group', 'name' -%></span>
</div>

<div class="fr"> <label for="otu_group_is_public" class="lbl4">Is public?</label>
  <span class="fld"><%= check_box 'otu_group', 'is_public'  %></span>
</div>

<!--[eoform:otu_group]-->