<% content_for :center do -%>
  <div>
    <div class="show_category"> Collecting events (<%= @collecting_events.length -%>) </div>
    <div class="show_comment" style="padding:0.2em;"> Unique records from to both specimens and lots. </div>
    <% @collecting_events.each do |ce| -%>
      <div style="padding:0.2em;">
        <div style="float:left; width:5%;">
          <%= link_to(ce.id, :action => :edit, :id => ce.id, :controller => :ce) -%>
        </div>

        <div style="float:left; width: 80%;">
          <%= ce.display_name(:type => :verbose) -%>
        </div>
        <div style="float:left;">
          <%= ce.mappable ? content_tag(:span, 'georeferenced', :class => 'passed') : content_tag(:span, 'not georeferenced', :class => 'failed')  -%>
        </div>

        <br style="clear:both;" />
      </div>

    <% end -%>
    <br style="clear:both;" />
  </div>
<% end -%>
