<% content_for :center do -%>
<div>
  <%= render :partial => "image_description/id", :collection => @descriptions, :locals => {:dragmode => false} -%>
  <p style="clear: left">&nbsp;</p>
</div>
<% end -%>
