<strong> OTU groups summary </strong>
<% for @otu_group in @otu_groups -%>
   <div class="box4" style="clear: both;">
     <div class="header"><%= @otu_group.name -%> </div>
     <div class="content">
      <% @otu_group.otus.in_groups_of(15) do |otus| -%> 
        <div style="float: left; padding: 0px 0px 5px 5px;">
          <% otus.each do |otu| -%>
            <% if otu -%>
              <%= link_to(otu.display_name, {:controller => "otu", :action => "show", :id => otu.id}) -%> <span style="color:gray;">(<%= otu.id -%>)</span><br/>
            <% else -%>
             &nbsp; <br />
            <% end -%>
          <% end -%>
        </div>
      <% end -%>
      <br style="clear: both;" />
    </div>
  </div>
<% end -%>
