<h3>Listing geographical names</h3>
<div id='search_results'>
  <%= paginate(@geogs, :total_count => @geogs.total_count) -%>
  <%= render(:partial => 'record_table') -%>
  <%= paginate(@geogs, :total_count => @geogs.total_count) -%>
</div>
