<h3>Editing namespace</h3>

<% form_tag :action => 'update', :id => @namespace do -%>
  <%= render :partial => "form" %>
  <%= submit_tag "Edit" %>
<% end -%>

<%= link_to 'Show', :action => 'show', :id => @namespace %> |
<%= link_to 'Back', :action => 'list' %>
