<%= form_tag(url_for(:action => :search, :controller => 'public/ontology')) do %> 

  <div style="text-align:center; margin-left:auto; margin-right:auto; width:90%;" ><label for="search_ontology_class_id">Search</label><span class="fld">
      <%= render :partial => 'shared/picker', :locals => {
      :controller => 'ontology_classes',
      :object => 'search',
      :size => 100,
      :method => 'ontology_class_id',
      :tag_id => "search_field_for_ontology_class_id",
      :display =>  '' } -%> 
  <%= submit_tag 'Show' %></span></div>
<% end %>

<div style="clear: both; margin: 1em; padding: 1em;"><em> You must select a result from the list before clicking show </em></div>
