<div id="search_form">
  <div class="view">
    <span class="header">Search the Ontology</span>
    <div style="padding: 2em; text-align: center; width: 100%;">
      <%= render :partial => 'simple_search' -%> 
        <div> I'll get there quicker <%= link_to('at random', :action => :random, :controller => :ontology_classes) -%>. </div>
    </div>
  </div>
</div>
