
<div class="view">
  <span class="header">Find consituent parts</span>
  
  <p>  This search returns all the concepts that are part_of the selected concept, including those inferred through is_a_ relationships. </p>

  <div style="padding: 2em; text-align: center; width: 100%;">

    <%= form_tag(:remote => true, :url => {:action => :search, :controller => 'public/ontology/parts'}) do %>
      <div class="fr"><label for="search_ontology_class_id" >Search</label><span class="fld">
          <%= render :partial => 'shared/picker', :locals => {
          :controller => 'ontology_class',
          :object => 'search',
          :size => 80,
          :method => 'id',
          :tag_id => "search_field_for_ontology_class_id",
          :display =>  '' } -%> 
      <%= submit_tag 'Show' %></span></div>
    <% end %>

    <div style="clear: both; margin: 1em; padding: 1em;"><em> You must select a result from the list before clicking show </em></div>
    </div>
  </div>

<div id="results" style="border-top: 1px dotted silver;padding:0.5em;"><em>Search for a term.</em> </div>
