<div class="view">
  <span class="header">Proof text</span>
  <div style="padding: 2em; text-align: center; width: 100%;">
    <div align="center">
    
      <div style="width: 500px; text-align: left; padding: .3em;">
        <div id="proofed_text"></div>
      </div>

      <%= form_tag(:remote => true, :html => {}, :url => url_for(:controller => "ontology", :action => "proof"), :loading => "Element.show('search_spinner')", :complete => "Element.hide('search_spinner')" ) do %>
      <%= text_area_tag(:txt, nil, :cols => 60, :rows => 10) %> <br />
      <%= submit_tag "Submit" %><%= image_tag('/images/spinner.gif', :alt => 'Loading', :id => 'search_spinner', :style => "display: none; vertical-align:middle;"  ) %> 
      <% end %>

    </div>
    <br /><br />
    <span class="header">How to proof:</span> 
    <div>Paste your text into the text box and click submit.  Your text will be returned with matches highlighted and linked back to the database.</div><br />
    <span class="header">Proofing caveats:</span> 
    <div> If you suspect a term should match try it individually from the search page.  At present only single and paired terms in the text will be matched against.</div> 

  </div>
</div>
