<div class="view">
  <span class="header">Browse References</span>
  <div style="padding: 2em; text-align: center; width: 100%;">
    <%= link_to 'All references', :action => :list_simple, :controller => :ref -%> | 
    <%= link_to 'Recent updates', :action => :list_recent, :controller => :ref -%> | 
    <!--  <%= link_to 'All references by author', :action => :list_by_author, :controller => :ref -%> | -->
    <%= link_to 'References linking terms to concepts', :action => :refs, :controller => :sensu -%>    
  </div>
</div>
