<div class="box4">
  <div class="header" id="foo">Tags</div> 
  <% tags.each do |keyword, tags| -%>
  <div id="aakw_<%=keyword.id %>"> <h4><%= keyword.display_name -%></h4>
      <% tags.sort.each do |tag| -%>
      <%= render(:partial => 'tag/t', :object => tag) if not tag.blank? -%>
      <% end %>
    </div>
  <% end -%>
</div>  
