<div id="tag_list">
  <div id="new_tags_wo_kw" style="display:none;" class="box4">
    <p> Newly added tags (these will be sorted into the dropdowns on page reload): </p>
  </div>

  <%= render(:partial => 'shared/code_accordion') -%>

  <%@tags.keys.sort_by{|a| a.keyword}.each do |k| %>
      <div id="vertical_container" >
        <h3 class="accordion_toggle"> <%= k.display_name -%> <span style="font-size:smaller;">(<%= @tags[k].size -%>)</span></h3>
        <div class="accordion_content"> 
          <% @tags[k].each do |tag| -%>
             <%= render :partial => 'tag/ts', :object => tag -%>
          <% end %>
        </div> 
     </div>
  <% end %> 
</div>

<script type="text/javascript">
  loadAccordions();
</script>
