<h3>Editing distribution</h3>

<%= form_tag :action => 'update', :id => @distribution do -%>
  <%= submit_tag 'Edit' %>
  <%= render :partial => 'form' %>
<% end -%>
<br style="clear:both;"/> 
<%= link_to 'Show', :action => 'show', :id => @distribution %>
