<h3>Listing distributions</h3>
<%= paginate(@distributions, :total_count => @distributions.total_count) -%>
<table class="list_table">
  <%= t_col_heads([ "geography", "otu", "reference", "verbatim geography", "introduced", "confidence", "id", "mod on", "mod by"]) %>
  <% for d in @distributions %>
  <%= t_row({ 'obj' => d, 
  'cell_data' => [d.geog ? d.geog.display_name : '',
    d.otu.display_name,
    d.ref.display_name,
    d.verbatim_geog,
    d.display_introduced,
    d.confidence_id ? d.confidence.display_name : '',
    d.id,
    d.c_on,
    d.m_on] }) %>
  <% end %>
</table>
<%= paginate(@distributions, :total_count => @distributions.total_count) -%>
