<h3>Listing PCRs</h3>
<div id='search_results'>
  <%= paginate(@pcrs, :total_count => @pcrs.total_count) -%>
  <%= render(:partial => 'record_table') -%>
  <%= paginate(@pcrs, :total_count => @pcrs.total_count) -%>
</div>
