<h3>Listing standard view groups</h3>
<%= paginate(@standard_view_groups, :total_count => @standard_view_groups.total_count) %>
<table class="record_list">
  <%= t_col_heads( ["id", "name", "notes", "other id", "mod by","mod on"] ) %>
  <% for svgrp in @standard_view_groups %>
  <%=  t_row({ 'obj' => svgrp, 
    'cell_data' => [svgrp.id,
    svgrp.name,
    svgrp.notes,
    svgrp.other_identifier,
    svgrp.m_by,
    svgrp.m_on] } ) %>
  <% end %>
</table>  
<%= paginate(@standard_view_groups, :total_count => @standard_view_groups.total_count) %>
