<table class="record_list">
  <%= t_col_heads(["OTU", "gene", "source", "pcr", "status", "done","available material", "id", "mod age", "mod by"]) %>
  <% @seqs.each_with_index do |seq, i| -%>
  <tr>
      <%= t_row({ 'obj' => seq, 'tr_css' => i,
      'cell_data' => [
      seq_source_otus_tag(seq),
      seq_source_genes_tag(seq),
      (seq.source_specimen ? seq.source_specimen.display_name(:type => :identifiers) : '<i>none</i>') ,
      (seq.pcr ? confidence_link(seq.pcr) : '' ),
      seq.status, 
      seq.attempt_complete? ?  {'yes' => 'passed'} : {'no' => 'failed'},
      seq.has_material,
      seq.id,
      time_ago_in_words(seq.updated_on),
      seq.m_by ] }) -%>
   <% end -%>
</table>
