<a class="small_form_button" style="padding: 2px;" href="#" onclick="checkboxes.each(function(e){ e.checked = 1});">Select all</a> |
<a class="small_form_button" style="padding: 2px;" href="#" onclick="checkboxes.each(function(e){ e.checked = 0});">Unselect all</a>
