<div class="subform">
  <div class="header">Identifier (more can be added after creation by using <u>edit</u>)</div>
  <%= render(:partial => '/identifier/form') -%>
  <br style="clear: both;" />
</div>
