<div class="subform">
  <div class="header">Identifier (more can be added after creation by using <cite>edit</cite>)</div>
  <%= render(:partial => '/identifiers/form') -%>
  <br style="clear: both;" />
</div>
