<h3>Characters not in character groups</h3>
<% if @chrs.size > 0 %>
  <% @chrs.each do |c| -%>
    <%= link_to(c.display_name, :action => 'show', :controller => 'chr', :id => c.id) %><br/>
  <% end %>

  <div class="subform">
    <div class="header">Add all above to character group</div>
    <div class="content">
      <i> This may take some time to run. </i>
      <% form_tag(:action => :add_ungrouped_characters) do  -%>
        <div class="fr"> <label for="chr_group" class="lbl4">Character group</label>
          <span class="fld"><%= render :partial => 'shared/picker', :locals => {
            :controller => 'chr_group',
            :object => 'cg',
            :method => 'id',
            :use_proj => true,
            :tag_id => "chr_group_for_chrs_not_in_grps",
            :size => 54,} -%> </span>
        </div>

        <input type="submit" name="submit" value="Add" />
      <% end -%>
    </div>
  </div>
<% else %>
  <i> All characters are in groups. </i>
<% end %>
