<div style="padding-left: 2px;"><%= n.label.to_s + " depth:" + n.depth.to_s + " depth pct:" +  n.pct_depth.to_s%></div>

<!-- background-color: green; opacity: .65;border-bottom: 2px solid red; width: 5em; padding-top: 0; margin-left: 10; text-align: right; border-left: 2px solid blue; -->
