<div class='navigator'>
  <%= navigator2(:obj => @tree, :do => params['action'] :ord => "id") -%>
  <%= show_nav_link(:obj => @tree, :link => 'phylowidget')  -%>
  <%= show_nav_link(:obj => @tree, :link => 'nested set')  -%>
</div>
