<h3> Listing trees </h3>
<div id='search_results'>
  <%= paginate(@trees, :total_count => @trees.total_count) %>
  <%= render(:partial => 'record_table') -%>
  <%= paginate(@trees, :total_count => @trees.total_count) %>
</div>
