<h3>Listing taxon name histories</h3>
<div id="search_results">
  <%= paginate(@taxon_hists, :total_count => @taxon_hists.total_count) -%>
  <%= render :partial =>"table_list" %>
  <%= paginate(@taxon_hists, :total_count => @taxon_hists.total_count) -%>
</div>
