<h3>Listing standard view groups</h3>

<table>
  <%= t_col_heads( ["id", "name", "notes", "other id", "mod by","mod on"] ) %>
  <% for svgrp in @standard_view_groups %>
  <%=  t_row({ 'obj' => svgrp, 
    'cell_data' => [svgrp.id,
    svgrp.name,
    svgrp.notes,
    svgrp.other_identifier,
    svgrp.m_by,
    svgrp.m_on] } ) %>
  <% end %>
</table>  

<%= link_to 'Previous page', { :page => @standard_view_group_pages.current.previous } if @standard_view_group_pages.current.previous %>
<%= link_to 'Next page', { :page => @standard_view_group_pages.current.next } if @standard_view_group_pages.current.next %> 

