<div class="result" title="result no definition">			
	<div class="functions">
		<div class="functions_top_button">COMMENT</div>
		<div class="comment_number">(3 comments)</div>
		<div class="functions_bottom_button">+ MY LIST</div>
	</div>
	<div class="content_needs_def">
		<div class="needs_def">
			<fieldset>
				<legend><%= l.display_name -%></legend>
				NEEDS DEFINITION				
			</fieldset>
		</div>
		<div class="def_options1">
			I would like to provide a definition.
		</div>
		<div class="def_options2">
			I would like to see this defined.
		</div>
	</div>
	<br style="clear:both" />
</div>
