<% if @proj == nil  %>
<%= link_to 'Back', :action => 'index', :controller => 'projs' %>
<% end %>

<h3>Listing news</h3>

<table class="record_list">
<%= t_col_heads( ["type", "title", "body", "expires on", "modified by", "modified on"] ) %>
<% for n in @news %>
<%=  t_row({ 'obj' => n, 
    'cell_data' => [n.news_type,
    n.title,
    n.body,
    n.expires_on,
    n.m_on,
    n.m_by] } ) -%>
<% end -%>
</table>

<%= paginate(@news, :total_count => @news.total_count) -%>

