<tr>
  <td class='t-l'>
    <input type='submit' name="nuke" value='Destroy'
      onclick="return(confirm('This will delete all the states presently coded? Are you sure?'));">
    </input>
  </td>
  <td class='t-r'>
  </td>
</tr>
