<%= render :partial => 'mxes/code/standard_for_fields' %>
<div style="float:right;">
  <input type='submit' name="save" value='Save & Next'> </input>
  <input type='submit' name="save" value='Save'> </input>
</div> 
