<h3> Coding matrix <%= @mx.display_name -%> </h3>
<div id="cell_coding">
  <div id="coding_mode_options">  
    <%= render(:partial => 'mxes/code/mode_options') -%>
  </div>
  <%= render :partial => 'mxes/code/code' -%>
</div>
