<h3>Listing ontology_classes</h3>
<div id='search_results'>
  <%= paginate(@ontology_classes, :total_count => @ontology_classes.total_count) -%>
  <%= render(:partial => 'record_table') -%>
  <%= paginate(@ontology_classes, :total_count => @ontology_classes.total_count) -%>
</div>


