<h3>Listing primers</h3>
<%= paginate(@primers, :total_count => @primers.total_count) -%>
<table style="width:100%">
  <%= t_col_heads( [ {'name' => "name", 'style' => 'width: 15%;'},  {'name' => "gene", 'style' => 'width: 10%;'}, {'name' => "sequence", 'style' => 'width: 20%;'} , 'otu', { 'name' => "notes" , 'style' => 'width: 30%;'}, "id", "mod on", "mod by" ] ) %>
  <% for primer in @primers %>
  <%=  t_row({ 'obj' => primer,
    'cell_data' => [
    primer.name,
    primer.gene ? primer.gene.name : "unattached",
    {primer.sequence =>  'smaller_font'},
    primer.target_otu ? primer.target_otu.display_name : "", 
    {primer.notes => 'smaller_font'},
    primer.id,
    primer.m_on,
    primer.m_by
    ] }) %>
  <% end %>
</table>
<%= paginate(@primers, :total_count => @primers.total_count) -%>
