<div class="box4">
  <div class="header">Downloading data</div>
  <div class="content">
    <p> Get the raw data for this project from the tables in CSV format here. <i> Not all tables are included yet. </i> </p>

    <%= form_tag :action => :my_data, :controller => :proj do %>
      <div class="fr"> <label for="klass" class="lbl4">Table</label>
        <span class="fld"><%= select_tag(:klass, options_for_select(%w(Pcr Primer Gene Seq IptRecord Identifier SpecimenDetermination Serial Otu Ref Author Specimen Ce Geog Person TaxonName Mx Chr Language ChrState Coding Tag ChrGroup OtuGroup Dataset Content ContentType ContentTemplate ContentTemplateContentType MxesOtu ChrsMx Lot).sort) ) -%></span>
      </div>

      <%= submit_tag("Download") -%>
    <% end %>
  </div>
</div>
