# This file is used to tell Jammit what to include when you ask for an asset bundle.
# Jammit is: http://documentcloud.github.com/jammit/
#
# You include an asset bundle like so:
#   include_javascripts :bundle_name
#   include_stylesheets :bundle_name
#
# Placing those in the layouts is usually all we need to do.
#
# In production - all the files specified in a bundle, are compressed, joined, gzipped and served as a single file.
# In development - all the files are individually served, uncompressed, so you can debug so much easier.
#
# I've set up two generic bundles - javascripts:application and stylesheets:application
# Any file you want included just include them in the appropriate bundle.
# You can use wild-cards too - like I did on stylesheets.
#
# Javascripts is compressed using the google closure compiler.
# TODO: RAILS_ENV should be Rails.env ?
<%= "package_assets: false" if RAILS_ENV == 'cucumber' %>
package_path: generated/assets
javascript_compressor: closure

javascripts:
  application:
    - public/javascripts/jquery-1.6.2.js
    - public/javascripts/jquery-ui-1.8.13.custom.min.js
    - public/javascripts/application.js
    - public/javascripts/jquery.ajaxify.js
    - public/javascripts/jquery.basic-modal.js
    - public/javascripts/jquery.mx-autocompleter.js
    - public/javascripts/jquery.mx-color-picker.js
    - public/javascripts/jquery.mx-effects.js
    - public/javascripts/jquery.mx-field-observer.js
    - public/javascripts/jquery.mx-flash.js
    - public/javascripts/jquery.mx-insert-content.js
    - public/javascripts/jquery.mx-inplace-editor.js
    - public/javascripts/jquery.mx-sortable.js
    - public/javascripts/jquery.mx-spinner.js
    - public/javascripts/jquery.mx-tooltip.js
    - public/javascripts/jquery.notifications.js
    - public/javascripts/rails.js
    - public/colorpicker/js/colorpicker.js

stylesheets:
  application:
    - public/stylesheets/standard.css
    - public/stylesheets/notifications.css
    - public/colorpicker/css/colorpicker.css
    - public/generated/**
