<div> 
  <% if @part == 'center' -%>
  <%= render_show(@tag, true, false) %>
<hr />
  <div class="box4">
    <div class="header"> Meta tags </div>
    <div class="content"> 
      <div style="width:98%"><%= render_meta_tree(@tag) -%></div>
      <br style="clear:both;" />
    </div>
  </div>
  <% end -%>
</div>

