<div id="tag_<%= t.id.to_s -%>">
  <%= t.display_name -%> <%= link_to("&nbsp;&nbsp;X", {:controller => 'tags', :id => t.id, :action => 'destroy'}, :method => "post", :confirm => 'Are you sure?')  -%>
</div>
