<div class="box4">
  <div class="header"> Collecting Event <%= link_to('edit', :action => :edit, :controller => :ces, :id => ce ) -%></div>
  <%= ce_tag(ce) -%>
  <br /><br /><span class="small_grey">Red text indicates a verbatim label.</span>
</div>
