<table class="record_list"> 
  <%= t_col_heads([{"name" => "tied geog", 'style' => 'font-size: larger;'},
  {"name" => "geography", 'style' => 'font-size: larger;'},
  {"name" => "locality", 'style' => 'font-size: larger;'},
  {"name" => "population", 'style' => 'font-size: larger;'},
  {"name" => "dates", 'style' => 'font-size: larger;'},
  {"name" => "method", 'style' => 'font-size: larger;'},
  {"name" => "collectors", 'style' => 'font-size: larger;'},   "verbatim", "maps?",
  {"name" => "mx id", 'style' => 'font-size: larger;'},
  {"name" => "mod age", 'style' => 'font-size: larger;'},
  {"name" => "mod by", 'style' => 'font-size: larger;'}]) %>
  <% @ces.each_with_index do |ce, i| -%>

  <%= t_row({ 'obj' => ce, 'tr_css' => i, 
  'cell_data' => [
    ce.geog.andand.display_name,
    ce.geography,
    truncate(ce.locality, :length => 40),
    truncate(ce.population, :length => 40),
    ce.date_range,
    ce.mthd,
    truncate(ce.collectors, :length => 20),
    truncate(ce.verbatim_label, :length => 80),
    ce.mappable ? {"yes" => "passed"} : {"no" => "failed"},
    ce.id,
    time_ago_in_words(ce.updated_on),
    ce.m_by ]}) -%>
  <% end -%>
</table>
