<h3>Listing Collecting Events</h3>
<div id='search_results'>
  <%= paginate(@ces, :total_count => @ces.total_count) -%>
  <%= render(:partial => 'record_table') -%>
  <%= paginate(@ces, :total_count => @ces.total_count) -%>
</div>
