<script type="text/javascript">
  var centerLatitude = 49.837982453084834;
  var centerLongitude = -103.7109375;
  var startZoom = 3;
  window.onload = init;
  window.onunload = GUnload;
</script>

<div style="width: 640;">
  <h3> New collecting event </h3> 
  <p > You can add collecting events by clicking on the map.  A form will popup, fill as much as you want in, and click save.  Note that we only grab lat/long and the fields included in the form, missing is the higher geography.  In the future we may implement a geocoding service, for now use update and next to quickly flip through your ces and update the data. If you see a red icon, your collecting event has been added, click it to see the data.</p>
</div>

<div id="map" style="width: 640; height: 480"></div>
