<div class='navigator'>
  <%= navigator2(:obj => @otu, :do => params[:action], :ord => "id") -%>
  <% ['material', 'material examined', 'map', 'distribution', 'molecular', 'matrix sync',
  'associations', 'images', 'matrices', 'codings', 'content', 'groups', 'all content', 'compare content', 'tags', 'summary'].each do |l| -%>
    <%= show_nav_link(:obj => @otu, :link => l)  -%>
  <% end %>

  <br />
  <div class="box4">
    <div class="header">Edit content for</div>
    <div class="content">
      <%= @proj.content_templates.collect{|t| link_to(t.name, :action => :edit_page, :id => @otu.id, :content_template_id => t)}.join(content_tag(:hr, nil, :style => 'width:33%; color:silver;')).html_safe -%>
    </div>
  </div>
</div>
