<%# used only as a blank template for coding purposes %>
<div> <%# this div must stay here! give it a name sometime and edit childrens as well %>

<% if @part == 'center' %>

  You must include _something_ here for the three frames to render correctly.

<% elsif @part == 'right' %>

  ...but not necessarily anything here

<% else %>

Hmm.. you rendered a OTU partial but didn't tell it which part!

<% end %>

</div>