FOOO

<div class="fr"><label for="otu_name" class="lbl4">OTU</label><span class="fld">
  <%= render :partial => "shared/picker", :locals => {
        :controller => 'otu',
        :object => 'lot',
        :method => 'otu_id',
        :tag_id => "otu_name",
        :display => "foo",
        :size => 40} -%>
      
      </span>
</div>

<br style="clear:both;"/>


<%= form_tag :action => :foo, :method => 'get', :id => "products_search" do %>


<input type="text" data-autocomplete="../auto_complete_for_otu" id_element="#id_field" />


<% end %>




