<div class='navigator'>
  <%= navigator2(:obj => @mx,  :do => params['action'], :ord => "name") %>

  <div class="category">views</div>
  <% ['grid coding', 'otus', 'chrs', 'tags', 'trees' ].each do |l| -%>
    <%= show_nav_link(:obj => @mx, :link => l)  -%>
  <% end %>

  <%= render(:partial => '/mx/export/navigator_options') -%><!-- private nav here -->
</div>


