<div id="p_<%= draggable_part.id -%>" class='part', style="margin: 2px; border: 1px dotted silver; float: left;" >
  <%= draggable_part.display_name -%>
  <%= draggable_element("p_#{draggable_part.id}", :revert => true) -%>
</div>
