<h3>Editing part</h3>
<%= form_tag :action => 'update', :id => @part do -%>
  <%= render :partial => 'form' -%>
  <%= submit_tag 'Edit' -%>
<%  end -%>
<%= link_to 'Show', :action => 'show', :id => @part %>
