<h3>Listing parts</h3>
<i> Parts are equal to terms in the ontology. </i>
<table>
  <%= t_col_heads( ["id", "name","abbrev" ,"description","ref","pg","notes", "mod by","mod on"] ) %>
  <% for part in @parts %>
  <%=  t_row({ 'obj' => part, 
    'cell_data' => [part.id,
    part.name,
    part.abbrev,
  part.description,
  part.ref_id? ? part.ref.display_name : "", 
  part.ref_page,
  part.notes,
    part.m_by,
    part.m_on] } ) %>
  <% end %>
</table>   
 
<% unless @part_pages.first == @part_pages.last %>
    <strong>View page <%= pagination_links @part_pages, :window_size => 3 %></strong>
<% end %>
