<h3>Listing namespaces</h3>
<p><span class="failed"> You should not alter these unless you understand the consequences!! </span></p>
<%= paginate(@namespaces, :total_count => @namespaces.total_count) %>
<table class="record_list" >
  <%= t_col_heads(['name','short name/collection code', 'owner', 'notes', 'id', 'mod on', 'creator']) %>
  <% @namespaces.each_with_index do |n, i| -%>
  <%= t_row({ 'obj' => n, 'tr_css' => i, 
  'cell_data' => [
  n.name,
  n.short_name,
  n.owner,
  n.notes,
  n.id,
  time_ago_in_words(n.updated_on) + ' ago',
  n.m_by ]}) -%>
  <% end -%>
</table>
<%= paginate(@namespaces, :total_count => @namespaces.total_count) %>
