<table class="record_list" >
  <%= t_col_heads( [ "specimen", "standard view",  "measurement", "units", "coversion factor",   "mx id", "mod by", "mod on" ] ) %>
  <%  @measurements.each_with_index do |o, i| %>
  <%=  t_row({ 'obj' => o, 'tr_css' => i,
  'cell_data' => [
    o.specimen.display_name,
    o.standard_view.name,
    o.measurement,
    o.units,
    o.conversion_factor,
    o.id,
    o.m_by,
    o.m_on]} ) %>
  <% end %>
</table>
