<h3>Listing measurements</h3>
<div id='search_results'>
  <%= paginate(@measurements, :total_count => @measurements.total_count) -%>
  <%= render(:partial => 'record_table') -%>
  <%= paginate(@measurements, :total_count => @measurements.total_count) -%>
</div>

