<% content_for(:center) do -%>

<div class="show_rec"><div class="show_category"> Figures</div></div>
<div class="padding:0.5em;">
  <%= render_figs_for_obj(@ontology_class, 'thumb') -%>
  <br style="clear:both;" />
</div>
<% end -%>
