<div> 
  <% if @part == 'center' %>
  <h4> Unique refs supporting associations</h4>
  <p> total: <%= @refs.length.to_s %> </p>
  <% if @refs.length > 0 %>
    <table> 
      <% for ref in @refs %>
      <tr><td class="citation" ><%= link_to (ref.display_name), :action => 'browse_by_ref',  :id => ref.id %> <%= @public ? '' : link_to('edit', :action => 'edit', :controller => 'refs', :id => ref.id) %></td>
          <td> <%= ref.count %> </td></tr>  
      <% end %> 
    </table>
    <% else %>
      <p><i>none</i></p>
    <% end %>
  <% end %>
</div>
