<%= error_messages_for 'association' %>

<!--[form:association]-->
<p><label for="association_notes">Notes (for the full association)</label><br/>
<%= text_area 'association', 'notes', "cols" => 60, "rows" => 5 %></p>
<!--[eoform:association]-->

