<%# renders a support row %>
<%=  t_row( { 'obj' => support, 'inc_actions' => false, 
  'tr_css' => support.negative? ? 'NegativeSupport' : "",
  'close_tr' => false, 
  'cell_data' => [
  { support.display_type => support.class.to_s },
  support.confidence.name,
  support.setting,
  (support.class == RefSupport ) ? link_to(support.ref.display_name, :controller => 'refs', :action => 'show', :id => support.ref.id) : "n/a",
  support.notes,
  support.temp_ref,
  support.c_on,
  support.m_on,
  support.c_by] } ) %>

  <td><%= link_to("edit", :controller => "association_supports", :action => "edit", :id => support, :association_id => @association) %></td>
  <td><%= link_to("delete", :controller => "association_supports", :action => "destroy", :id => support, :association_id => @association) %></td>
</tr><!-- closes the t_row -->

