<h3>Listing associations</h3>
<%= paginate(@associations, :total_count => @associations.total_count) -%>
<table class="record_list">
  <%= t_col_heads( [{'name' => "name", 'style' => 'width: 60%;'} , "id", "notes"] ) %>
  <% @associations.each_with_index do |a, i| %>
  <%=  t_row({'obj' => a,  'inc_actions' => false,
    'cell_data' => [
    link_to(render(:partial =>"part", :collection => a.association_parts), :action => 'show', :id => a),
    a.id,
    {a.notes =>  'small_grey'} ,
    new_tag_tag(:object=>a)] } ) %>
  <% end %>
</table>
<%= paginate(@associations, :total_count => @associations.total_count) -%>
