<table class="record_list">
  <%= t_col_heads(["word", "short form", "explanation", "html color", "created by", "created on", "modified on", "count", "is public?"]) %>
  <% for kw in @keywords %>
  <%= t_row({ 'obj' => kw,
  'cell_data' => [link_to(kw.display_name.html_safe, :action => :show, :id => kw),
    kw.shortform,
    kw.explanation,
    kw.html_color,
    kw.c_by,
    kw.c_on,
    kw.m_on,
	kw.tags.size,
    kw.is_public ? "yes" : "no"] }) %>
  <% end %>
</table>
