<h3>Listing keywords</h3>
<div id='search_results'>
  <%= paginate(@keywords, :total_count => @keywords.total_count) %>
  <%= render(:partial => 'record_table') -%>
  <%= paginate(@keywords, :total_count => @keywords.total_count) %>
</div>


