<% content_for(:center) do %>
  <div>
    <script type="text/javascript">
      function $import(src){
        var scriptElem = document.createElement('script');
        scriptElem.setAttribute('src',src);
        scriptElem.setAttribute('type','text/javascript');
        document.getElementsByTagName('head')[0].appendChild(scriptElem);
      }

      $import('http://www.phylowidget.org/scripts/phylowidget.js');
    </script>

    <p><i> Note that changes to the Phylowidget graphic will NOT be reflected in the original data. </i></p>
    <div id="my_div"></div>

    <script type="text/javascript">
      PhyloWidget.useLite();
      var params = { width:640, height:480, tree:'<%= @tree.tree_string %>', search:''  };
      PhyloWidget.loadWidget('my_div',params);
    </script>
  </div>
<% end %>
