<h3>Listing lots</h3>
<div id='search_results'>
  <%= paginate(@lots, :total_count => @lots.total_count) %>
  <%= render(:partial => 'record_table') -%>
  <%= paginate(@lots, :total_count => @lots.total_count) %>
</div>
