
<% @tags_by_kw = @otu.tags(:include => [:ref]).group_by(&:keyword) -%>

<div class="header">Citations</div>
<div class="citations">
  <% @tags_by_kw.each do |k, tags| %>
    <h4><%= k.keyword.capitalize %></h4>
    <%= tags.collect{|t| t.ref_id.blank? ? "<i style='color:red;'>no reference provided for this tag</i>" : link_to(t.ref.short_citation, :action => 'show_ref', :id => t.ref) }.join(", ") %>
  <% end %>
</div>


