<%= error_messages_for 'geog_type' %>

<!--[form:geog_type]-->
<p><label for="geog_type_name">Name</label><br/>
<%= text_field 'geog_type', 'name'  %></p>

<p><label for="geog_type_feature_class">Feature class</label><br/>
<%= text_field 'geog_type', 'feature_class'  %></p>
<!--[eoform:geog_type]-->

