<!-- with some hints from http://demo.script.aculo.us/ajax/update_element -->
<div id="ontology_relationship_to_close" class="popupform" style="width: 500;">
	<div>
		<span class="small_form_button" style="float: right;" >
			<%= link_to_function("cancel", nil, :id => "cancel_link") do |page|
				page[:ontology_relationship_to_close].remove
			end
			-%>
		</span> 
	</div>
	<h4>New relationship for this class</h4>  
	<br style="clear: both;">

	<% form_remote_for @ontology_relationship, :html => {:id => "ontology_relationship_to_close"}, :url => url_for(:action => "create") do |f| %>
		<%= render :partial => 'ontology_relationships/form', :locals => {:f => f} -%>
		<%= submit_tag "Create" -%>
	<% end -%>
</div>

