<%= error_messages_for 'protocol' %>

<!--[form:protocol]-->
<p><label for="protocol_kind">Kind</label><br/>
<%= select 'protocol_kind', 'kind', Protocol::KINDS  %>
</p>

<p><label for="protocol_description">Description</label><br/>
<%= text_area 'protocol', 'description', 'title' => 'description of protocol', "cols" => 60, "rows" => 5   %></p>

<!--[eoform:protocol]-->
