<table class="record_list">
  <%= t_col_heads( ["id", "kind", "description","created on", "modified on", "created by" ] ) %>
  <% for protocol in @protocols %>
  <%=  t_row({ 'obj' => protocol, 
  'cell_data' => [protocol.id,
    protocol.kind,
    protocol.description,
    protocol.c_on,
    protocol.m_on,
    protocol.c_by]}) %>
  <% end %>
</table>
