<h3>Listing protocols</h3>
<div id='search_results'>
  <%= paginate(@protocols, :total_count => @protocols.total_count) %>
  <%= render(:partial => 'record_table') -%>
  <%= paginate(@protocols, :total_count => @protocols.total_count) %>
</div>
