<%= form_tag(reset_password_path) do |frm| %>
  <div title="Reset your password" id="loginform" class="form">

    <div class="fr">
      <label for="person_login" class="lbl4">Login:</label>
      <span class="fld">
        <input type="text" name="person_login" id="person_login" size="30" value=""/>
      </span>
    </div>

    <div class="fr">
      <span class="fld"><input type="submit" name="reset" value="Request Password Reset Email" class="primary" /></span>
    </div>
    <br style="clear: both;" />
  </div>
<% end -%>
