<%= form_tag(respond_reset_password_path(@token.token_key)) do |frm| %>
  <div title="Reset your password" id="loginform" class="form">

    <div class="fr">
      <label for="person_password" class="lbl4">New Password:</label>
      <span class="fld">
        <input type="password" name="person_password" id="person_password" size="30" value=""/>
      </span>
    </div>
    <div class="fr">
      <label for="person_password_confirmation" class="lbl4">Confirm New Password:</label>
      <span class="fld">
        <input type="password" name="person_password_confirmation" id="person_password_confirmation" size="30" value=""/>
      </span>
    </div>

    <div class="fr">
      <span class="fld"><input type="submit" name="reset" value="Set New Password" class="primary" /></span>
    </div>
    <br style="clear: both;" />
  </div>
<% end -%>
