<div> <%# don't (re)move me! -%>
  <% if @part == 'center' -%>
    <div class='box4'>

  <div class="header"> File contents </div>
  <div class="content">
    <div style="width: 98%; overflow: auto; padding: .2em;" >
      <p> <i style="color: red;"> scroll down to find lateral scroll </i> </p>
      <pre>
        <%= @data_source.dataset.ds_file -%>
      </pre>
    </div>
  </div>
</div>
  <% end -%>
</div>

