<h3> OTUs with published content </h3>
<p><strong style="color: silver;">Legend:</strong> <span class="failed"> there are multiple children (marked with "-") tied to this name </span></p>
<%= render(:partial => '/contents/content_table', :locals => {:publish_link => false}) -%>

