<div> <%# don't (re)move me! %>
  <% if @part == 'center' %>
    <h3> Coded for: </h3>
  <ul style="list-style-type: square;">
    <%= render(:partial => 'otu', :collection => @otus) -%>
  </ul>
  <% end %>
</div>
















