<p> <i> Stay tuned for a snazzier browsing interface. </i> </p>

<%= paginate(@descriptions, :total_count => @descriptions.total_count) %>

<div>
  <%= render(:partial => 'i', :collection => @descriptions) -%>
  <p style="clear: left">&nbsp;</p>
</div>

<%= paginate(@descriptions, :total_count => @descriptions.total_count) %>

<div style="clear: both;">
<span class="small_grey"> These images are copyright, contact the administrator of this site before using them</span></div>
