<h3>Listing references</h3>
<div id='search_results'>
  <%= paginate(@refs, :total_count => @refs.total_count) -%>
  <%= render(:partial => 'record_table') -%>
  <%= paginate(@refs, :total_count => @refs.total_count) -%>
</div>
