<%= form_tag url_for(:action => :show, :controller => 'public/taxon_name') do %> 
  <div class="fr"><label for="search_taxon_name_id" class="lbl4">Search</label><span class="fld">
      <%= render :partial => '/shared/picker', :locals => {
      :controller => 'taxon_name',
      :object => 'taxon_name',
      :size => 50,
      :method => 'id',
      :tag_id => "search_field_for_taxon_name_id",
      :display =>  '' } -%> 
  <%= submit_tag 'Show' %></span></div>
<% end %>

<div style="clear: both; margin: 1em; padding: 1em;"><em> You must select a result from the list before clicking show </em></div>
