<div id="search_form">
  
<div class="search_header"><span class="text_title">Search taxonomic names</span></div>
  <div style="padding: 2em; text-align: center; width: 100%;">
    <%= render :partial => 'simple_search' -%> 
  </div>
</div>

