<div id="nav"><%= link_to 'Families', :action => 'browse', :family => nil %> 
/ <em><%=h @family %></em></div>

<p><strong>Genera by letter:</strong></p>

<% for letter in @letters %>
  <%= link_to h(letter.letter), :action => 'browse', :letter => h(letter.letter), :family => h(@family) %> (<%=h letter.count %>)<br/>
<% end %>