<div id="local_notice" style="padding: .5em; text-align: center; width: 100%;"><%= notice -%></div>
<%= render :partial => 'image_descriptions/id', :collection => @otu.mb_image_descriptions -%>
<br style="clear: both;" />
