<p><strong>Only public images</strong> are available using this search method. This test accesses the Morphbank xml querier also available <%= link_to('here', 'http://services.morphbank.net/mb3/')  %>.  </p>

<%= render(:partial => 'morphbank_images/search_form') -%>

<div class="box4">
  <div class="header"> Results </div>
  <div class="content">
    <div id="runner">
      <i> complete a search first </i>
    </div>
  </div>
</div>

<div class="box4">
  <div class="header"> Cart </div>
  <div class="content" id="cart_form"> <i> perform a search to activate cart </i> </div>
</div>
