<h3>Listing Genes</h3>
<div id='search_results'>
  <%= paginate(@genes, :total_count => @genes.total_count) -%>
  <%= render(:partial => 'record_table') -%>
  <%= paginate(@genes, :total_count => @genes.total_count) -%>
</div>
