<% content_for :center do -%>
<table>
  <tr>
    <th>extract</th>
    <th>PCRs</th>
    <th>sequences</th>
  </tr>
  <% @otu_group.extracts.each_with_index do |e, i| -%>
  <tr class="<%= (i % 2 == 0 ? 'stripe' : "") -%>">
    <td><%= e.display_name(:type => :list) -%></td>
    <td><%= e.pcrs.collect{|p| p.display_name(:type => :list)}.join(", ") -%></td>
    <% specimens = e.pcrs.inject([]){|sum, p| sum += p.seqs}.collect{|s| link_to(s.id, :action => :show, :id => s.id, :controller => :seqs)} -%>
    <td><%= specimens.size > 0 ? specimens.join("; ") : '<em>none</em>' -%></td>
  </tr>
  <% end -%>
</table>
<% end -%>
