<div>
  <% if @part == 'center' %>

  <p> <strong> Plural form: </strong> <%= @label.plural_form ? @label.plural_form.display_name : content_tag(:em, 'none provided') -%> </p>

  <%= render :partial => 'sensu/sensus', :locals => {:sensus => @label.sensus.ordered_by_position, :parent_id => @label.id, :sensus_for => "label"} -%>

  <div class="box4"><div class="header"> Label used in these class definitions</div>
    <div class="content">
      <%= render :partial => 'ontology_class/oc', :collection => @ocswl -%>
    </div>
  </div>

  <%= destroy_label_link_tag(@label, session[:person]) -%>

  <% end -%>
</div>
