<div class="subform"> 
  <div class="header"> Show labels tagged with keywords </div>
  <div class="content">
    <% form_remote_tag :url => {:action => :list_by_keyword}, :loading => "Element.show('keyword_spinner')", :complete => "Element.hide('keyword_spinner')"  do -%>
      <div class="fr"><label for="keyword_keyword_id" class="lbl4">Keyword</label>
        <span class="fld"><%= render :partial => "shared/picker", :locals => {
              :controller => 'keyword',
              :object => 'kw',
              :method => 'id',
              :tag_id => "keyword_for_simple_display",
              :size => 40,
              :display => ''} -%>
            <%= submit_tag('submit') -%> <%= spinner_tag('keyword_spinner') -%>
          </span>
        </div>
        <% end -%> 
        <br style="clear: both;"/"
   </div>
</div>



<div id="results">

</div>
