<% more ||= true -%>

<p><strong><%= ref.display_name -%></strong></p>
<% if more -%>
  <div>

    <h3> Taxa (in this database) described in this work:  </h3>
    <p><%= ref.taxon_names.collect{|t|
        link_to t.display_name, :controller => 'taxon_names', :action => 'show', :id => t
      }.join(", ")%></p>

  </div>
<% end -%>
