<h3> Sync content from characters </h3>
<p> This function copies the character data (from the chosen character group) to a specific content type (as specified in that character group) for a given OTU or OTU group. </p>

<i> in development </i>

<div class="subform">
  <%= form_tag :action => 'sync' do %>
  <% end %>
</div>



