<div style="padding:0.5em;">

  <div style="padding:1em; margin:0.5em;border-right:1px dotted silver;float:left;" >
  <%= image_with_svg_tag(@image) -%>
  </div>

  <div style="padding:0.5em; margin:0.5em; float:left; width: 400;">

    <div class="show_rec">
      <div class="show_category">Figure markers</div>
      <% @image.figure_markers.each_with_index do |fm,i| -%>
        <div style="padding:0.2em;">
          <% o = fm.figure.figured_obj -%>
          <% if o.class.to_s == 'OntologyClass' -%>
            <%=  o.display_name(:type => :label_first).html_safe -%>
          <% else %>
            <%= o.display_name.html_safe -%>
          <% end -%>
          <%= link_to_function("toggle visibility", "toggleFigureMarkerVisibility('img_svg_root_#{@image.id}', 'marker_#{fm.id}')") -%>  <br />
        </div>

     <% end -%>

    </div>
  </div>

  <br style="clear:both;" />

</div>
