<%= render_show(@chromatogram, true, true) %>
<h4>Attached to these seqs:</h4>
<% if @seqs.size == 0 %>
 <i> none </i>
<% else %>
  <% for seq in @seqs %>
    <p><%= seq.display_name %> <%= link_to 'Show', :controller => 'seqs'', :action => 'show', :id => seq %></p>
  <% end %>
<% end %>


